<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>【爆款升级】阿联酋5晚6日游(北京出发)_北京_出境参团_国旅在线（CITS）</title>
    <link href="../static/css/headFooter.css" rel="stylesheet" type="text/css">
    <link href="../static/css/layout.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <script src="../static/js/http_code.jquery.com_jquery-3.1.1.js"></script>

    <style>
        #img-pop-bottom * {
            font: 12px simsun
        }

        .proout {
            width: 1198px;
            border: 1px solid #e8e8e8;
            border-top: none;
            border-bottom: none;
            margin: 0 auto;
            position: relative;
        }

        .proout02 {
            border-bottom: 1px solid #e8e8e8;
            padding-bottom: 29px;
        }

        .tipmyd {
            border-top: 1px solid #e8e8e8;
            border-bottom: 1px solid #e8e8e8;
            overflow: hidden
        }

        .tipNonedivL {
            line-height: 25px;
            height: 140px;
            display: table;
            border-width: 0px;
            width: 700px;
            float: left;
            text-align: center
        }

        .tipNonedivL .font14 {
            font-size: 14px;
            color: #555
        }

        .tiptablecell {
            display: table-cell;
            vertical-align: middle;
        }

        .tipNonedivR {
            line-height: 25px;
            height: 140px;
            display: table;
            border-width: 0px;
            width: 430px;
            float: left;
            text-align: center
        }

        .tipNonedivR .tipHT {
            color: #979797;
            font-size: 14px;
            line-height: 30px
        }

        .timer-section span {
            display: block;
            letter-spacing: 0.15em;
            padding-left: 5px;
            font-size: 50px;
            width: 77px;
            height: 57px;
            line-height: 57px;
            float: left;
            background: url(https://file1.cits.cn/images/b2c/MS_timeBG.png) no-repeat 0 0;
        }

        .timer-section em {
            font-style: normal;
            border-radius: 5px;
            display: block;
            width: 8px;
            text-align: center;
            height: 57px;
            line-height: 57px;
            float: left;
        }

        .timer-section1 span {
            display: block;
            letter-spacing: 0.25em;
            padding-left: 5px;
            font-size: 35px;
            width: 56px;
            height: 45px;
            line-height: 43px;
            float: left;
            background: url(https://file1.cits.cn/images/b2c/MS_timeBG1.png) no-repeat 0 0;
        }

        .timer-section1 em {
            font-style: normal;
            display: table-cell;
            width: 20px;
            text-align: center;
            vertical-align: middle;
        }

        .wenxintishi {
            border-color: #e24974;
            height: 55px;
            line-height: 55px;
            font-size: 24px;
        }

        .easemobim-mobile-body > * {
            display: none !important
        }


        @-webkit-keyframes easemobim-loading-frame {
            0% {
                -webkit-transform: rotate(0);
                transform: rotate(0)
            }
            to {
                -webkit-transform: rotate(1turn);
                transform: rotate(1turn)
            }
        }

        @-moz-keyframes easemobim-loading-frame {
            0% {
                -moz-transform: rotate(0);
                transform: rotate(0)
            }
            to {
                -moz-transform: rotate(1turn);
                transform: rotate(1turn)
            }
        }

        @keyframes easemobim-loading-frame {
            0% {
                -webkit-transform: rotate(0);
                -moz-transform: rotate(0);
                transform: rotate(0)
            }
            to {
                -webkit-transform: rotate(1turn);
                -moz-transform: rotate(1turn);
                transform: rotate(1turn)
            }
        }

        .easemobim-pc-img-view > img {
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0
        }
    </style>
</head>
<body id="main" style="position: relative;">
<div id="headerDiv" style="background-color: #fff ;">
    <div class="row m-t-0" style="z-index: 104; position:relative;left: 190px ;top: 50px">
        <div class="cav_1200 logo_style" style="height:129px">
            <p title="国旅">
                <!--logo--> <img src="" class="logo_1">
            </p>
            <p id="centerEHomeLogin">
                <img src="" class="logo_2"
                     id="centerEHomeLoginPIC">
            </p>
            <script>
                function qiehuan() {
                    document.getElementById("qiehuan").style.display = 'block';
                }

                function quxiao() {
                    document.getElementById("qiehuan").style.display = 'none';
                }
            </script>
            <div class="cityDiv">
                <div class="city" >
                    <span class="name" id="city" >
                       <p id="c">北京</p></span> <span class="btn"><a
                        onclick="qiehuan()">[切 换]</a></span>
                    <div id="qiehuan" class="atcity" style="display: none">
                        <ul>
                            <li>
                                <strong>北京</strong>
                                <a target="_self"
                                   href="http://localhost:8080/travelon?city=北京" title="北京">北京</a>
                            </li>
                            <li>
                                <strong>陕西</strong>
                                <a target="_self"
                                   href="http://localhost:8080/travelon?city=西安" title="西安">西安</a>
                            </li>
                            <li>
                                <strong>天津</strong>
                                <a target="_self"
                                   href="http://localhost:8080/travelon?city=天津" title="天津">天津</a>
                            </li>
                            <li>
                                <strong>辽宁</strong>
                                <a target="_self"
                                   href="http://localhost:8080/travelon?city=沈阳" title="沈阳">沈阳</a>
                                <a target="_self"
                                   onclick="" title="大连">大连</a>
                            </li>
                            <li>
                                <strong>山西</strong>
                                <a target="_self"
                                   onclick="" title="太原">太原</a>
                            </li>
                            <li>
                                <strong>吉林</strong>
                                <a target="_self"
                                   onclick="" title="长春">长春</a>
                                <a href="http://jl.cits.cn/" target="_self"
                                   onclick="" title="吉林">吉林</a>
                            </li>
                            <li>
                                <strong>河北</strong>
                                <a target="_self"
                                   onclick="" title="石家庄">石家庄</a>
                            </li>
                            <li>
                                <strong>河南</strong>
                                <a target="_self"
                                   onclick="" title="郑州">郑州</a>
                            </li>
                            <li>
                                <strong>宁夏</strong>
                                <a target="_self"
                                   onclick="" title="银川">银川</a>
                            </li>
                            <li>
                                <strong>山东</strong>
                                <a
                                        onclick="" title="济南">济南</a>
                                <a target="_self"
                                   onclick="" title="青岛">青岛</a>
                                <a target="_self"
                                   onclick="" title="威海">威海</a>
                                <a target="_self"
                                   onclick="" title="烟台">烟台</a>
                            </li>
                            <li>
                                <strong>新疆</strong>
                                <a target="_self"
                                   onclick="" title="乌鲁木齐">乌鲁木齐</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <strong>上海</strong>
                                <a target="_self"
                                   onclick="" title="上海">上海</a>
                            </li>
                            <li>
                                <strong>安徽</strong>
                                <a target="_self"
                                   onclick="" title="合肥">合肥</a>
                            </li>
                            <li>
                                <strong>江苏</strong>
                                <a target="_self"
                                   onclick="" title="南京">南京</a>
                                <a target="_self"
                                   onclick="" title="无锡">无锡</a>
                                <a target="_self"
                                   onclick="" title="南通">南通</a>
                                <a target="_self"
                                   onclick="" title="常州">常州</a>
                                <a target="_self"
                                   onclick="" title="镇江">镇江</a>
                                <a target="_self"
                                   onclick="" title="扬州">扬州</a>
                                <a target="_self"
                                   onclick="" title="盐城">盐城</a>
                            </li>
                            <li>
                                <strong>江西</strong>
                                <a target="_self"
                                   onclick="" title="南昌">南昌</a>
                            </li>
                            <li>
                                <strong>浙江</strong>
                                <a target="_self"
                                   onclick="" title="杭州">杭州</a>
                                <a target="_self"
                                   onclick="" title="宁波">宁波</a>
                                <a target="_self"
                                   onclick="" title="湖州">湖州</a>
                                <a target="_self"
                                   onclick="" title="绍兴">绍兴</a>
                                <a target="_self"
                                   onclick="" title="嘉兴">嘉兴</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <strong>广东</strong>
                                <a target="_self"
                                   onclick="" title="广州">广州</a>
                                <a target="_self"
                                   onclick="" title="深圳">深圳</a>
                                <a target="_self"
                                   onclick="" title="中山">中山</a>
                                <a target="_self"
                                   onclick="" title="江门">江门</a>
                                <a target="_self"
                                   onclick="" title="佛山">佛山</a>
                                <a target="_self"
                                   onclick="" title="潮州">潮州</a>
                                <a target="_self"
                                   onclick="" title="云浮">云浮</a>
                                <a target="_self"
                                   onclick="" title="肇庆">肇庆</a>
                                <a target="_self"
                                   onclick="" title="东莞">东莞</a>
                            </li>
                            <li>
                                <strong>福建</strong>
                                <a target="_self"
                                   onclick="" title="厦门">厦门</a>
                                <a target="_self"
                                   onclick="" title="福州">福州</a>
                            </li>
                            <li>
                                <strong>湖北</strong>
                                <a target="_self"
                                   onclick="" title="武汉">武汉</a>
                                <a target="_self"
                                   onclick="" title="宜昌">宜昌</a>
                            </li>
                            <li>
                                <strong>湖南</strong>
                                <a target="_self"
                                   onclick="" title="长沙">长沙</a>
                            </li>
                            <li>
                                <strong>重庆</strong>
                                <a target="_self"
                                   onclick="" title="重庆">重庆</a>
                            </li>
                            <li>
                                <strong>贵州</strong>
                                <a target="_self"
                                   onclick="" title="贵阳">贵阳</a>
                            </li>
                            <li>
                                <strong>云南</strong>
                                <a target="_self"
                                   onclick="" title="昆明">昆明</a>
                            </li>
                            <li>
                                <strong>四川</strong>
                                <a target="_self"
                                   onclick="" title="成都">成都</a>
                            </li>
                            <li>
                                <strong>海南</strong>
                                <a target="_self"
                                   onclick="" title="海口">海口</a>
                            </li>
                            <li>
                                <strong>广西</strong>
                                <a target="_self"
                                   onclick="" title="南宁">南宁</a>
                            </li>
                            <li>
                                <strong>澳门</strong>
                                <a target="_self"
                                   onclick="" title="澳门">澳门</a>
                            </li>
                        </ul>
                        <div class="btmtxt">温馨提示：根据您的选择，我们将为您切换到您所在的地区首页。
                            <button style="width: 50px;height: 30px " onclick="quxiao()">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group_input">
                <div class="divhotsearch">
                    <div class="wai">
                        <input placeholder="请输入目的地、关键词或线路编号"
                               onclick=""
                               id="indexsearch" class="inp ac_input">
                        <button class="btn" onclick="" style="cursor: pointer">搜索</button>
                    </div>
                    <div style="position: absolute;left: 800px; height: 80px;top: 20px;">
                        <button  style="cursor:pointer;width: 150px;height:40px;background: #87ff6f;color: #fff;outline:none;font-size: 14px;border: 1px;" onclick=" window.open('http://localhost:8080/login')">登录/注册</button>
                    </div>
                    <div id="userinfo" style="position: absolute;left: 1000px; height: 80px;top: 20px; width: 200px"></div>
    </div>
    <br>
    <br>
</div>
</div>
</div>
<br>
<br>
<h1 class="protit" id="title" style="font-size:30px;line-height:45px;">
    <span style="font-size:16px;color:#37c249;margin-left:10px;" id="origin"> </span>
</h1>
<div class="subtitle">
    <span style="color:#555;padding:0px 5px;" id="id"></span>
</div>
<div class="bodyboxauto marb35 posr" style="border-bottom:none;">
    <div class="detail-lft floatrgt">
        <div class="youhui" id="priceShow" style="display: block">
            <span class="youlft" style="float:right" id="xianshiprice">
                销售价：<span id="atprice0"></span>/人  起
            </span>
            <span class="yourgt" id="priceShow_span" style="float:left">
  <span style="font-size:22px">活动价</span>
  <em>¥</em> <b id="atprice1" style="color:#fff"></b>
  <span>/人  起</span>
 </span>
        </div>
        <div class="marL24">
            <dl class="detailtop" style="clear:both;">
                <table width="100%" rules="none" border="0" cellpadding="0" cellspacing="0"
                       style="border-bottom:1px dashed #e4e4e4;border-top:1px dashed #e4e4e4;">
                    <tr>
                        <td>
                            <span class="myd"><em class="myd01">满意度</em><i class="myd02">100%</i></span>
                        </td>
                        <td><img src="../static/img/online_zf.png" width="97" height="36"></td>
                    </tr>
                </table>
            </dl>
            <div class="tesebox" id="ysInfo" style="display: none;">
            </div>
            <div class="chufaout mart20" id="priceLoadingId" align="center" style="display: none;">
<span style="display:block;text-align:center;">
<img src="../static/1_files/loading.gif" width="32" height="32">
</span>
            </div>
            <div id="forPirce" style="display: block;">
                <div class="chufaout mart20" align="center">
                    <form action="https://www.cits.cn/outboundgroup/04001762575.htm">
                        <table width="96%" rules="none" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="78px" align="center">出发日期:</td>
                                <td style="padding-left: 5px;" id="stime"></td>
                            </tr>
                            <tr id="priceTypeId" style="display: none;"></tr>
                            <tr>
                                <td align="right" valign="top" style="padding-top: 10px">游客类型：</td>
                                <td style="padding-left: 5px; padding-top: 5px;" class="dw_yk_list" id="travlId">
                                    <dl>
                                        <dd >成人</dd>
                                        <dd><em id="atprice11"></em>元</dd>
                                        <dd>
                                            <a  onclick="reduce('adult')"
                                               class="v2_jian02" id="adultreduce"></a>
                                            <input disabled="true" type="text" id="adult" class="inpt_dw"  value="1">
                                            <a  onclick="add('adult')" id="adultadd" class="v2_jia02"></a>
                                        </dd>
                                    </dl>

                                    <dl>
                                        <dd name="pName">儿童</dd>
                                        <dd><em id="ctprice"></em>元</dd>
                                        <dd>
                                            <a  onclick="reduce('chr')"
                                               class="v2_jian02" id="chrreduce"></a>
                                            <input disabled="true" type="text" class="inpt_dw" id="chr"  value="0">
                                            <a  onclick="add('chr')" id="chradd" class="v2_jia02"></a>
                                        </dd>
                                    </dl>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">价格说明：</td>
                                <td id="shuomingStr" style="padding-left: 5px;" align="left"></td>
                            </tr>
                            <tr id="orderPriceShow" style="display: table-row">
                                <td>&nbsp;</td>
                                <td style="padding-left:5px; padding-top:5px;" align="left">总价：
                                    <span class="cored">￥</span><em class="myem" id="allprice"></em>
                                    <span><input style="cursor: pointer;" type="button" id="submitButton"
                                                 class="btn_yuding" onclick="startyuding()" value="立即预订"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-rgt floatlft">
        <div class="drgtfocus">
            <div class="rgtfocusins floatlft">
                <a class="disblock"><img id="img"
                        src="" class="lazy" width="600" height="388" style="display: inline;"></a>
                <a href="javascript:void(0);"><img src="../static/1_files/blank.png" class="lazy"
                                                   alt="迪拜旅游" width="600" height="338"></a>
                <a href="javascript:void(0);"><img src="../static/1_files/blank.png" class="lazy"
                                                   alt="阿布扎比旅游" width="600" height="338"></a>
                <a href="javascript:void(0);"><img id="detailPicP" src="../static/1_files/blank.png" class="lazy"
                                                   alt="沙迦旅游" width="600" height="338"></a>
                <span></span>
            </div>
            <div class="focusmenu floatlft"></div>
        </div>
        <div class="calenderbox mart20" id="dateLoadingId" style="display: none;">
<span style="display:block;text-align:center;height: 381px">
<img src="../static/1_files/loading.gif" width="32" height="32" style="padding-top:175px">
</span>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div id="lnenav" style="position: fixed ;top: 0px;left: 0px">
    <div class="bodybox  posr">
        <ul class="inblock visatab visatab02 widover">
            <li class="hover00"><a id="1" onclick="xingcheng()" class="hover_on">团队行程</a></li>
            <li class="hover01"><a onclick="feiyong()" id="2" class="">费用说明</a></li>
            <li class="hover04"><a id="3" onclick=" yuding()">预订须知</a></li>
            <li class="hover05"><a id="4" onclick="safety()">安全须知</a></li>
            <li class="hover07"><a  id="5" onclick="pinglun()">评价</a></li>
        </ul>
        <span class="book" id="detail_book" style="display: block; "><a href="javascript:void(0);" onclick="startyuding()">立即预订</a></span>
    </div>
</div><!--移动菜单-->
<script>

    window.onload=function () {
        document.getElementById("c").innerHTML=sessionStorage.city;
        var str = sessionStorage.obj;
        if(str!==undefined){
            document.getElementById("userinfo").innerHTML="<p>欢迎你 :"+str+"</p>";
        }
/*        var s=location.search.substring(1)
        var v=s.split("=")[1]
        alert(v)*/
        $.ajax({
            url: 'https://liyihe.oss-cn-beijing.aliyuncs.com/html/json/04001546516.json',
            type: "GET",
            contentType: 'application/json;charset=utf-8',
            success: function (ReceivedData) {
              //  alert(ReceivedData[3].other)
                var info='';
                var xingchenginfo=document.getElementById("xingchenginfo");
                for (var i = 0; i < ReceivedData.length; i++) {
                   info+='<div class="tipsout mart30"><div class="tiptoptit tiptoptit02 dingwei dingwei_1" style="position: relative;">';
                    info+='第'+(i+1)+'天 ';
                    if (ReceivedData[i].city.indexOf('-')!==-1){
                        var city=ReceivedData[i].city.split("-");
                        switch (city.length) {
                            case 3:
                                info+='<span>'+city[0]+'</span>';
                                if (city[1]==='plane'){
                                    info+=' <em style="display:inline-block;padding:0px 5px 5px 5px; margin: 0px"> <img src="http://liyihe.oss-cn-beijing.aliyuncs.com/html/png/plane.jpg" alt="飞机" width="28" height="24"></em>'
                                }else {
                                    info+=' <em style="display: inline-block; padding: 0px 5px 5px 5px; margin: 0px"> <img src="http://liyihe.oss-cn-beijing.aliyuncs.com/html/png/bus.jpg" alt="汽车" width="32" height="18"></em>'
                                }
                                info+='<span>'+city[2]+'</span>';
                                break;
                            case 5:
                                info+='<span>'+city[0]+'</span>';
                                if (city[1]==='plane'){
                                    info+='<em style="display: inline-block; padding: 0px 5px 5px 5px; margin: 0px"> <img src="http://liyihe.oss-cn-beijing.aliyuncs.com/html/png/plane.jpg" alt="飞机" width="28" height="24"></em>'
                                }else {
                                    info+='<em style="display: inline-block; padding: 0px 5px 5px 5px; margin: 0px"><img src="http://liyihe.oss-cn-beijing.aliyuncs.com/html/png/bus.jpg" alt="汽车" width="32" height="18"></em>'
                                }
                                info+='<span>'+city[2]+'</span>';
                                if (city[3]==='plane'){
                                    info+='<em style="display: inline-block; padding: 0px 5px 5px 5px; margin: 0px"> <img src="http://liyihe.oss-cn-beijing.aliyuncs.com/html/png/plane.jpg" alt="飞机" width="28" height="24"></em>'
                                }else {
                                    info+='<em style="display: inline-block; padding: 0px 5px 5px 5px; margin: 0px"> <img src="http://liyihe.oss-cn-beijing.aliyuncs.com/html/png/bus.jpg" alt="汽车"  width="32" height="18"></em>'
                                }
                                info+='<span>'+city[4]+'</span>';
                                break;
                        }
                    }else {
                        info+='<span>'+ReceivedData[i].city+'</span>'
                    }
                    info+=' </div> <div class="tipsout"><p></p><div class="tipdrink">'+ReceivedData[i].meal+' </div><div class="tiphotel">'+ReceivedData[i].stay+'<p></p></div><div class="tiptext">';
                    for (var j = 0; j < ReceivedData[i].other.length; j++) {
                        info+='<p>'+ReceivedData[i].other[j]+'</p>'
                    }
                    info+='</div></div></div><div class="tipsout"></div>';
                }
                xingchenginfo.innerHTML=info;
            }
        })
        var infos=sessionStorage.detail.split("&");
        for (var i = 0; i < infos.length; i++) {
            var info=infos[i].split("=");
            switch (info[0]) {
                case "id": document.getElementById("id").innerHTML="线路编号: "+info[1];break;
                case "title":document.getElementById("title").innerHTML=decodeURI(info[1])+document.getElementById("title").innerHTML;break;
                case "origin":document.getElementById("origin").innerHTML=decodeURI(info[1])+"出发";break;
                case "atprice":
                    if (info[1].indexOf('-')!==-1){
                        document.getElementById("atprice0").innerHTML="¥ "+info[1].split('-')[0];
                        document.getElementById("atprice1").innerHTML=info[1].split('-')[1];
                        document.getElementById("allprice").innerHTML= document.getElementById("atprice1").innerHTML
                        document.getElementById("atprice11").innerHTML=info[1].split('-')[1];
                    }else {
                        document.getElementById("xianshiprice").style.display='none';
                        document.getElementById("atprice1").innerHTML=info[1].split('-')[1];
                        document.getElementById("allprice").innerHTML= document.getElementById("atprice1").innerHTML
                    }
                    break;
                case "ctprice":  document.getElementById("ctprice").innerHTML=info[1].split('-')[0];break;
                case "stime":  document.getElementById("stime").innerHTML=info[1];break;
                case "img":document.getElementById("img").src=info[1];break;
            }
        }
    }

    var last='1';
    function xingcheng() {
        window.location.hash = "#xingcheng";
        document.getElementById(last).className='';
        last='1';
        document.getElementById('1').className='hover_on'
    }

    function feiyong() {
        window.location.hash = "#feiyong";
        document.getElementById(last).className='';
        last='2';
        document.getElementById('2').className='hover_on'

    }
    function yuding() {
        window.location.hash = "#yuding";
        document.getElementById(last).className='';
        last='3';
        document.getElementById('3').className='hover_on'

    }
    function safety() {
        window.location.hash = "#safety";
        document.getElementById(last).className='';
        last='4';
        document.getElementById('4').className='hover_on'

    }
    function pinglun() {
        window.location.hash = "#pinglun";
        document.getElementById(last).className='';
        last='5';
        document.getElementById('5').className='hover_on'

    }
    function add(type) {
        var ad= document.getElementById("adult");
        var ch=  document.getElementById("chr");
        if (type === 'adult'){
            ad.value=parseInt(ad.value)+1;
        } else {
            ch.value=parseInt(ch.value)+1;
        }

        document.getElementById("allprice").innerHTML=document.getElementById("atprice11").innerHTML*ad.value+document.getElementById("ctprice").innerHTML*ch.value;


    }

    function reduce(type) {
        var ad= document.getElementById("adult");
        var ch=  document.getElementById("chr");
        if (type === 'adult'){
            if(ad.value!=='0'){
                ad.value=ad.value-1;
            }

        } else {
            if(ch.value!=='0'){
                ch.value=ch.value-1;
            }
        }
        document.getElementById("allprice").innerHTML=document.getElementById("atprice11").innerHTML*ad.value+document.getElementById("ctprice").innerHTML*ch.value;
    }
    function startyuding(){
        sessionStorage.dingdanperson='{"atpers":"'+document.getElementById("atprice11").innerHTML+'-'+document.getElementById("adult").value+'","ctpers":"'+document.getElementById("ctprice").innerHTML+'-'+document.getElementById("chr").value+'","all":"'+ document.getElementById("allprice").innerHTML+'","img":"'+document.getElementById("img").src+'"}';
        window.open('http://localhost:8080/ding');
    }
</script>
<div class="proout proout02 proouttlne back_top travelcontent" id="xingcheng">
    <div class="travel_tool" style="top: 10px;">
<span style="display: inline-block; margin-top: 20px">
</span>
    </div>
    <div class="lnetit lnedblue">
        <span>团队行程</span>
    </div>
    <div class="tipsins" id="xingchenginfo" style="margin-left:70px;"></div>
</div>
<div class="lineout lineouttip back_top" id="feiyong">
    <div class="lnetit lnedblue">
        <span>费用明细</span>
    </div>
</div>
<div class="proout proout02">
    <div class="tipsins">
        <p>费用包含</p>
        <p>1. 北京往返国际机，团队经济舱含税；<br>2. 2晚阿布扎比国际5星酒店+3晚国际4星酒店，双人间；<br>3. 酒店内西式自助早餐，中式午晚餐，当地特色餐，游览期间每人每天1瓶矿泉水；<br>4.
            行程所列景点游览大门票；<br>5. 司机，导游工资；司机饭费、油费、陆桥费、停车费等；<br>6. 空调旅游巴士（包括接送机及游览期间）；<br>7. 迪拜政府征收Tourism
            Dirham-四星酒店每晚15迪拉姆。<br>8. 阿布扎比政府征收Tourism Dirham-五星酒店每晚10迪拉姆。</p>
        <p>费用不包含</p>
        <p>1. 行李物品保管费用及托运行李超重费、个人消费及行程以外的自选项目<br>2. 因罢工、大风、大雾、航班取消或更改时间等人力不可抗拒原因所导致的额外费用<br>3. 旅游意外伤害保险<br>4.
            如行李或物品丢失、被盗等意外损失费用<br>5. 晚用车，给司机和导游加班费用<br>6. 以上报价未提及的项目<br>7. 单人房附加费：2000元/人全程<br>8.
            12岁以下小孩不占床减500人民币，占床与成人同价<br>9. 境外司机导游服务费：600元/人（随团款一同支付），2岁以下婴儿免司机导游服务费（以回团日期计算年龄）</p>
        <p>行前解约说明</p>
        <p>
            &nbsp;&nbsp;旅游者在行程开始前（含行程开始当日，下同）提出解除合同或者按照本合同第十二条第2款约定由出境社在行程开始前解除合同的，按下列标准扣除必要的费用：
        </p>
        <p>
            &nbsp;&nbsp;行程开始前30日以上，扣除<span>2000</span>元/人；
        </p>
        <p>
            &nbsp;&nbsp;行程开始前29日至15日，扣除<span>4000</span>元/人；
        </p>
        <p>
            &nbsp;&nbsp;行程开始前14日至7日，扣除<span>7399</span>元/人；
        </p>
        <p>
            &nbsp;&nbsp;行程开始前6日至4日，扣除<span>7399</span>元/人；
        </p>
        <p>
            &nbsp;&nbsp;行程开始前3日至1日，扣除<span>7399</span>元/人；
        </p>
        <p>
            &nbsp;&nbsp;行程开始当日，扣除<span>7399</span>元/人。
        </p>
    </div>
</div>
<div class="lineout lineouttip back_top" id="yuding">
    <div class="lnetit lnedgreen">
        <span>预订须知</span>
    </div>
</div>
<div class="proout proout02">
    <div class="tipsins" style="color:#000000;">
        <li>
            <p>
                <span>&nbsp;境外旅游期间、游客不可参加任何《非本旅行社安排的活动项目》，如执意参加《非本旅行社安排的活动项目》，旅行社则无法提供安全保障，游客需要考虑自身能力，自己应承担一切风险及后果！</span>
            </p>
        </li>
        <li>
            <p>
                <span>&nbsp;60岁以上游客及18岁以下未成年人出行应有不满60岁的成年家人陪伴，70岁以上游客请确认已购买足额境外救援险，游客不可隐瞒病史，备齐常用药品，身体不适应及时通知导游，导游有权视情况强制客人停团休息或在当地就医，希望您能理解与配合！</span>
            </p>
        </li>
        <li>
            <p><span>&nbsp;我社保留因地接旺季涨价、酒店变更、汇率变化或其他不可抗力原因而调整*终报价和行程的权利</span>
            </p>
        </li>
        <li>
            <p>&nbsp;<span>行程中有部分景点，列明入内参观，如博物馆、神殿等，如遇事故、休息、关闭维修等导致未能入内参观，则退回有关门票费用，客人不得在团归后争议投诉追讨</span>
            </p>
        </li>

        <li>
            <p>
                &nbsp;<span>凡单人或单数（例如三人）报名而未能安排拼房，须缴纳单人房差</span>
            </p>
        </li>
        <li>
            <p>
                <span>&nbsp;旺季出发（例如遇复活节、开斋节等）将有附加费，请报名时查询</span>
            </p>
        </li>
        <li>
            <p>
                <span>&nbsp;散客拼团，若团队出现单间，我社有权利提前说明情况并调整夫妻及亲属住宿安排，请给予理解</span>
            </p>
        </li>
        <li>
            <p>
                <span>&nbsp;建议购买旅游意外险</span>
            </p>
        </li>
        <li>
            <p>
                <span>&nbsp;全程请游客注意人身及产品安全，不要前往不安全的地方，自由活动不要单独行动。老人、儿童需有家人陪伴及照顾</span>
            </p>
        </li>
        <li>
            <p>
                <span>&nbsp;不要参加高风险活动。参加任何项目请您量力而行</span>
            </p>
        </li>
        <li>
            <p>
                <span>&nbsp;持外籍护照或任何非中国大陆居民护照的旅行成员，务必持有并携带有效中国多次往返签证和外籍护照原件及必备的旅行证件，</span>
            </p>
        </li>
        <li>
            <p>
                <span>&nbsp;70岁以上老人，需有50岁以下家人陪同方可参团，80岁以上老人随家人出行另需签署【免责声明】。18岁以下未成年人，需有父母或亲属陪同方可参团，非随父母出行需提供亲属证明及父母委托。另使馆对70岁以上老人和8岁以下儿童签证资料特殊要求，以使馆要求为准。</span>
            </p>
        </li>
        <li>
            <p>
                <span>&nbsp;所有参团客人必须如实填写【健康调查表】，若填写内容与实际情况不符或有隐瞒由客人承担一切相关法律责任</span>
            </p>
        </li>
        <li>
            <p>
                <span>&nbsp;所有参团客人必须认真阅读【参团须知及安全风险提示告知书】并签字，对客人未能遵守风险告知事项，未能采取积极主动措施防范风险发生，所造成的损害，由客人自行承担一切责任。</span>
            </p>
        </li>
        <li>
            <p>
                <span style="background:yellow;">&nbsp;65岁以上包括65岁老年人报名需强制购买境外紧急救援医疗300,000元以上及紧急医疗转院和转运回国1,000,000万以上的保险。请自行购买并提供保单电子版给我社！或我社可协助客人代购保险：保费200元/人。</span>
            </p>
        </li>
    </div>
    <div class="lineouttip">
        <div class="wenxintishi lnedgreen">
            <span>温馨提示</span>
        </div>
    </div>
    <div class="proout proout02">
        <div class="tipsins">
            <p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span
                    style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;mso-bidi-font-size:10.5pt;">中国公民出国（境）旅游文明行为指南</span>
            </p>
            <p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span style="font-size:small;">中国公民，出境旅游，注重礼仪，保持尊严。</span>
            </p>
            <p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span
                    style="font-size:small;">讲究卫生，爱护环境；衣着得体，请勿喧哗。</span></p>
            <p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span
                    style="font-size:small;">尊老爱幼，助人为乐；女士优先，礼貌谦让。</span></p>
            <p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span
                    style="font-size:small;">出行办事，遵守时间；排队有序，不越黄线。</span></p>
            <p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span
                    style="font-size:small;">文明住宿，不损用品；安静用餐，请勿浪费。</span></p>
            <p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span
                    style="font-size:small;">健康娱乐，有益身心；赌博色情，坚决拒绝。</span></p>
            <p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span
                    style="font-size:small;">参观游览，遵守规定；习俗禁忌，切勿冒犯。</span></p>
            <p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span
                    style="font-size:small;">遇有疑难，咨询领馆；文明出行，一路平安。</span></p>
            <p></p>
        </div>
    </div>
</div>
<div class="lineout lineouttip back_top" id="safety">
    <div class="lnetit lneblue02">
        <span>安全须知</span>
    </div>
</div>
<div class="proout proout02">
    <div class="tipsins"><p>
        <span style="font-family:宋体;font-size:10.5pt;"><span></span> </span>
    </p>
        <p>
            <span><span style="font-family:宋体;"></span></span>
        </p>
        <p>
            1. 人身安全
        </p>
        <p>
            （1）注意交通安全，过马路请走人行横道，指示灯绿灯亮时才可通过。注意当地驾驶习惯，如遇靠左行车的国家或地区请注意不要走入逆行道，在过马路时要向右侧观察是否有来车并及时避让；有些城市设有自行车道，行人不可站立或行走在自行车道上。以上情形下，一旦发生事故，责任须由行人承担。
        </p>
        <p>
            （2）上下车船和飞机、出入地铁等交通工具时，出入商场、酒店、餐厅、景区等场所时请注意在扶梯、台阶处站稳，以免扭伤和摔伤身体。注意特定安全提示，以免受到伤害。
        </p>
        <p>
            （3）自由活动要结伴而行，尤其是夜间不要单独出行，不要太晚回酒店；外出时要告知领队或导游，不安全的场所不要去；要带好酒店卡片（上有酒店的名称、地址、电话）和紧急联系通讯录，防止意外情况的发生。
        </p>
        <p>
            （4）遇到地震、台风、火灾、洪水等自然灾害或政治动乱、战乱、突发恐怖事件或意外伤害时，要冷静处理并尽快撤离危险地区。在境外可向中国使（领）馆寻求咨询和协助。人身安全受到威胁和伤害时，应立即向当地警方报案，要求警方提供保护，并取得警方的书面证明。
        </p>
        <p>
            （5）如旅游者在当地选择自驾游或乘坐当地私营交通工具，建议客人审慎选择真实、合法和安全的租车公司或交通工具，避免由于车辆原因发生交通事故：另外，由于各国基础设施状况和交通规则不同，建议游客提前熟悉当地交通规则、做好路线和路况规划；对于一些基础设施较为落后、自然灾害较多的地区和国家，建议游客提前关注道路信息和天气情况，避免疲劳驾驶，绕开风险过高地区，注意人身和财产安全。
        </p>
        <p>
            （6）我公司提醒旅游者：出境旅游，特别是海外自助游应增强风险防范意识，警惕各类风险，平安出游，理性出游。
        </p>
        <p>
            应做好行前准备，关注旅游、外交等有关部门发布的出行提示，了解目的地天气、卫生、交通和社会治安情况，谨慎或暂勿前往恐怖事件频发、政局动荡不稳或发生重大疫情的国家和地区。
        </p>
        <p>
            出行中旅游者应关注当地天气预报和风险提示，避免在不适宜的恶劣天气开展旅游活动。
        </p>
        <p>
            要提高安全意识，理性消费，看管好随身物品，遵守当地交通法规，遇突发事件时保持冷静，妥善应对，及时报警。
        </p>
        <p>
            合理规划出游线路，选择有运营资质的交通工具，谨慎选择高风险旅游项目，不在旅游探奇中盲目追求刺激。
        </p>
        <p>
            出行前应购买旅游意外保险，保障出游安全。
        </p>
        <p>
            2. 财物安全
        </p>
        <p>
            （1）游览时，贵重物品如现金、首饰、银行卡等要随身携带，最好贴身存放，不要放在挎包里，也不要放在行李寄存处、旅游车内或酒店房间；乘坐飞机、火车和游船时，贵重物品不能放在行李箱中托运；入住酒店后，建议将贵重物品存入酒店的保险箱内并设密码，以免遗失。
        </p>
        <p>
            （2）由于部分国家尤其是欧美国家受经济低迷、失业率高企、难民涌入等因素影响，接连出现恐怖袭击事件以及情节恶劣的偷盗、抢劫、诈骗等行为，更有甚者把中国旅游者视为重点目标。我公司提请游客们避免携带大量现金，尽量避免单独外出，同时时刻保持警惕，在餐厅、商场、酒店大堂、机场等公共场所要妥善保管好自己的物品，不要将物品委托不熟悉的人保管，避免发生盗抢、失窃和被骗事件。
        </p>
        <p>
            （3）如果发生行李或贵重物品损坏、丢失、被窃、被抢等，须及时报警、报损、报失，妥善保存报警回执，收集购置丢失物品的原始发票等材料，以备我社协助您向有关方面申请理赔。但现金、珠宝首饰、信用卡等不予赔付。
        </p>
        <p>
            3. 证件安全
        </p>
        <p>
            （1）护照、港澳通行证、台湾通行证是旅游者在境外唯一有效的身份证明，丢失证照将直接影响到您的旅行。证照、签证、身份证、机车船票及文件等身份证明和凭据，请随身携带或把证照交由领队、导游妥善保管，以避免遗忘、丢失。
        </p>
        <p>
            （2）出境旅游最好将上述证件复印，一份留在家中，一份连同几张护照相片随身携带，并记下所持护照号码，以备急用。
        </p>
        <p>
            （3）在整个旅行中，请随身携带我公司发给您的行程及紧急联络通讯录（联系方式详见出团通知书），以防走失时联系。
        </p>
        <p>
            （4）当地遇到有人检查证件时，不要轻易应允，而应报告导游或领队处理。如导游或领队不在现场，要有礼貌地请对方出示其身份或工作证件，否则拒绝接受检查。
        </p>
        <p>
            （5）证件一旦遗失或被偷被抢，要立即报告领队并向警方报案，同时请警方出具书面遗失证明。出国或出境游客要向目的地相关机构申请补发签证，向我使（领）馆等机构申请补办旅行证件，并承担因补办证件产生的相关费用。
        </p>
        <p>
            4. 游览安全
        </p>
        <p>
            （1）为保证计划行程顺利完成，请遵守团队作息时间，避免因个人迟到、掉队影响全团正常行程，请积极配合领队和导游的工作。在景区内请听从安排，跟随导游和领队游览时，不要远离团队，注意脚下安全。
        </p>
        <p>
            （2）自由活动期间请结伴而行，避免单独行动。非本公司组织安排的游览活动，旅游者自行承担风险。
        </p>
        <p>
            （3）我公司郑重提醒旅游者，谨慎参加有一定危险或高危的娱乐项目，包括但不限于：过山车、驾驶摩托艇、潜水、滑水、滑雪、跳伞、攀岩、探险、赛车、赛马、骑马、滑翔、探险性漂流、热气球、蹦极、冲浪、游泳、出海、泡温泉、蒸桑拿、高空溜索、登山等。上述项目对参加者的身体状况有一定要求，请充分了解活动须知，严格遵守相关法律和安全规定。不要因为寻求刺激、逞能或心存侥幸，造成不必要的伤害。旅游者应仔细阅读活动说明和景区提示，慎重选择及参与活动。旅游者因参加危险活动造成人身和财产损失，旅行社概不负责。酒后禁止参加有一定危险的娱乐项目。
        </p>
        <p>
            （4）在参加上述活动中，由于受到降雨、狂风、台风、地震、火山喷发等自然环境和天气变化等不确定因素所影响、或因设备故障或项目方操作及管理不善、安全设施水平不高、缺乏中文安全提示等原因，有可能会造成旅游者受伤或死亡等安全事故；同时一旦发生危及生命的事件，由于当地救援条件有限，没有配备救生人员和教练、资源或者资源有限以及地理位置受限，极易导致无法及时送医，错过最佳抢救时间。我公司建议旅游者参加上述危险或高危娱乐项目时，投保人身意外伤害保险或带救援的人身意外伤害保险。
        </p>
        <p>
            （5）海拔较高的高原地带或山地，气压低，空气含氧量少，易导致人体缺氧，引起高原反应，请旅游者避免剧烈运动和情绪兴奋。患有贫血、糖尿病、慢性肺病、较严重心脑血管疾病、精神病及怀孕等旅游者不宜参加高原及高山旅游。
        </p>
        <p>
            （6）为了保证您的旅途安全，也为了方便导游、领队及时上下车为游客提供服务，请让出汽车的第一排座位。在旅途中系好安全带。尽量避免在车厢内走动或站立，禁止在车内吸烟。请勿将头、手、脚或者行李物品伸出窗外，以免发生意外。不要向车窗外扔物品，以免伤人。
        </p>
        <p>
            （7）游览时，请先听导游和领队的讲解和介绍，了解当地的风景民俗，清楚什么是最有纪念意义的，有利于您进行拍照留念。每次下车，请先记清集合地点和时间或地标性建筑。记住所乘汽车的牌照号码、导游和领队的姓名及手机号码。有的城市在游览时需转乘当地的公交车或地铁，要注意紧跟队伍，以免掉队或走失。
        </p>
        <p>
            （8）雨雪天气从室外进入酒店、餐厅、游览设施时，任何时候出入卫生间时，路面湿滑时，注意防滑。
        </p>
        <p>
            （9）我公司提示旅游者参加涉水或海上旅游项目应增强风险防范意识，警惕各类风险，平安出游，理性出游，注意以下风险：
        </p>
        <p>
            时刻关注天气和海况，严格遵守恶劣天气预警及提示，如遇风大浪急等恶劣天气或海滩插有红色警示旗，应遵从警示提醒，切勿冒险出海或进行水上项目，以免发生不测，谨记安全第一。
        </p>
        <p>
            参加海上项目，要充分考虑自身水性及身体状况，根据个人实际情况选择游玩项目；应当熟知海上项目的安全系数、刺激程度，谨慎参加潜水等水上运动，游玩中务必穿戴好救生衣，听从专业人士指导，高龄或患有心脏病、高血压等游客切勿冒险，未成年人参与水上游乐项目必须有家长带领。
        </p>
        <p>
            自由行游客及选择行程外涉水或海上旅游项目和旅游产品的游客，应当选择正规旅行团组，签订正式旅游合同，并重点关注合同中有关人身、财产安全事故的理赔范围和要求；出境游建议出行前购买合适的境外旅行意外保险，谨慎选择旅行项目。
        </p>
        <p>
            搭乘水上交通工具，务必选择正规经营、报价合理的承运方，谨防低价陷阱，谨慎选择旅行项目。
        </p>
        <p>
            （10）如遇紧急情况，请保持镇定，及时寻找工作人员或报警求助；境外遇险,可及时报警并向当地使领馆或外交部全球领事保护中心寻求帮助。
        </p>
        <p>
            5. 住宿安全
        </p>
        <p>
            （1）抵达酒店后，请您在前台领取酒店地址名片，外出时随身携带，如果旅游者迷路时，可以按名片提示的电话、地址安全顺利返回酒店。
        </p>
        <p>
            （2）入住酒店后，应了解酒店安全须知，熟悉安全转移的路线。入住时立即检查房间内设施（卫浴设备、房门及窗户安全锁、遥控器、烟缸、毛巾浴巾等）是否有损坏、缺少、污染。发现问题请联系客房服务人员，及时更换调整，以免退房时发生不必要的麻烦。
        </p>
        <p>
            （3）在洗浴时请注意防滑，建议提前铺好防滑垫，防止滑倒受伤。
        </p>
        <p>
            （4）睡前及离店时请确保关闭房间门窗。保管好房卡或钥匙，切勿将房间号告诉陌生人，或邀请陌生人到房间内交谈，以免发生人身和财物安全问题。
        </p>
        <p>
            6. 饮食和药品安全
        </p>
        <p>
            （1）旅游期间少吃生食、生海鲜等，不可光顾路边无牌照摊档，忌暴饮暴食，应多喝开水，多吃蔬菜水果，少抽烟，少喝酒。因私自食用不洁食品和海鲜引起的肠胃疾病，旅行社不承担责任。
        </p>
        <p>
            （2）在旅游目的地购买食物需注意商品质量，不要购买“三无”（无生产厂家、生产日期、厂家地址）商品，发现食物不卫生或者存在异味变质的情况，切勿食用。
        </p>
        <p>
            （3）不要随意接受和食用陌生人赠送的香烟、食物和饮品，防止不必要的危险。
        </p>
        <p>
            （4）为防止旅途中水土不服，旅游者应自备一些常用药品以备不时之需，切勿随意服用他人提供的药品。个人常用药品请随身携带。
        </p>
        <p>
            7. 突发事件
        </p>
        <p>
            （1）飞机、火车、班轮、城际客运班车等公共客运交通工具延误或者取消，根据《旅游法》第七十一条相应责任应由公共交经营者承担责任，旅行社对此不承担责任，但将积极协助您向公共交通经营者索赔。如遇此情况，请旅游者在候机厅或候车室耐心等待，密切关注航班或火车的信息，听从工作人员和旅行社人员的安排，不要到处乱跑，以免误机或误车。请勿采取拒绝登机、车、船等不当行为，否则由此造成的损失及后果由旅游者承担。
        </p>
        <p>
            （2）交通事故：当发生车辆交通事故时，应听从导游及旅行社相关工作人员的安排和指挥，不要慌张；发生人员伤害时，旅游者应尽力施救或自救，同时注意保护现场，避免损失扩大。
        </p>
        <p>
            （3）突发意外伤害（如动物伤害）或急性病：旅游行程中应提高警惕，远离动物侵袭，避免造成意外伤害。如不慎遭受意外伤害或因个人原因突发急病时，请及时向导游或领队请求援助，到医院就诊，费用由本人支付。如已购买意外伤害保险，请通知旅行社运作人员并保管好相关票据，以便向保险公司申报理赔。
        </p>
        <p>
            （4）失窃、被抢：当发生财物被盗或遭受抢劫时，请及时联系导游或领队，请求旅行社协助，并向警察局报案，讲明事实经过，将失窃或被抢物品列出清单，保护好现场，保存证据资料，积极配合警察局侦查破案。
        </p>
        <p>
            （5）不可抗力：行程中因自然灾害、恶劣天气条件、政府行为、社会异常事件（如罢工、政变、骚乱、游行等）、流行性疾病暴发等不可抗力或意外事件，影响旅游行程或服务标准的，旅行社不承担赔偿责任，但会以确保团队安全、减少损失为原则，采取积极补救措施，请旅游者给予配合和谅解，冷静处理并尽快撤离危险地区。在境外可向中国使（领）馆寻求咨询和协助。由此增加的费用由旅游者承担，节省的费用退还旅游者。
        </p></div>
</div>
<!--<div class="lineout lineouttip back_top" id="pinglun">
    <div class="lnetit lnedgreenQ"><span>评价区</span></div>
</div>
<div class="proout proout02" id="commentArea">
    <div class="proout proout02" style="padding-bottom:0px;">
        <div class="tipmyd" style="border-bottom-width:0px;">
            <div class="tipNonedivL">
                <span class="font14 tiptablecell">此产品暂无评价，赶紧购买出游归来发表评价<br>评价有惊喜，海量积分等你来拿</span>
            </div>
            <div class="tipNonedivR">
                <div class="tiptablecell">
                    <span class="tipHT" style="line-height:30px">出游回来可评论产品</span><br>
                    <input type="button" value="发表评论"
                           style="cursor:pointer;background:#fb8f47;color:#fff;border-width:0px;width:99px;height:40px;"
                           onclick="">
                </div>
            </div>
        </div>
    </div>
</div>-->
</div>
</body>
</html>
